body{
    margin:0;
    font-family:'Kanit',sans-serif;
    background:#fff7fb;
}


.gallery{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}


.item{
    width:180px;
    cursor:pointer;
    transition:.3s;
}


.item img{
    width:180px;
    height:240px;
    object-fit:cover;
    border-radius:15px;
}


.item:hover{
    transform:scale(1.08);
}


/* กล่องขยาย */

#lightbox{

    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.85);

    justify-content:center;

    align-items:center;

    z-index:1000;

}



.viewer{

    position:relative;

}



#preview{

    width:500px;

    max-width:80vw;

    max-height:80vh;

    border-radius:20px;

    animation:zoom .4s ease;

}




@keyframes zoom{

    from{

        transform:scale(.2);

        opacity:0;

    }


    to{

        transform:scale(1);

        opacity:1;

    }

}



button{

    position:absolute;

    border:none;

    background:white;

    width:50px;

    height:50px;

    border-radius:50%;

    font-size:30px;

    cursor:pointer;

}



#close{

    right:0;

    top:-60px;

}


#prev{

    left:-70px;

    top:45%;

}


#next{

    right:-70px;

    top:45%;

}


#counter{

    color:white;

    text-align:center;

    margin-top:15px;

    font-size:20px;

}
